<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href= "./css/styles.css">
</head>

<body>
   <div  class="main-content">
    {{>header}}
<p>This site was created by Devendra Maurya. It uses data from map.box and weatherstack.com</p>
   <img class="portrait" src="./img/me.JPG"> 

   </div>
   
  {{>footer}}

</body> 

</html>  