<html>
<head>
    <link rel="stylesheet" href= "/css/styles.css">
    <script src='/js/script.js'></script>    
</head>

<body>
<h1>hbs index file </h1>   
title is {{title}}. name is {{name}}  

</body>

</html>